/* from mean.example.com */
body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 12px;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tbody tr:nth-child(even){
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

.table tbody th {
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
textarea {
  font: 20px monospace;
  padding: 12px 20px;
  margin: .5em 0 1em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

input[type="submit"],
button {
  /* padding: 12px 18px; */
  font: 20px monospace;
  text-decoration: none;
}

a.button {
  font: 20px monospace;
  padding: 12px 18px;
  text-decoration: none;
  color: #000;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/* this styles the delete link on the create user page -- lower right corner */
.delete {
  text-align: right;
}

.delete a{
  color: #ff0000;
}

/* li {
   list-style-type: none;

} */
/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.users li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.users li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.users li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.users .text {
  position: relative;
  top: -3px;
}
.users .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
